.ToDo {
    height: 60px;
    /* width: 100%; */
    width: 100%;   
    background-color: rgba(186, 106, 255, 0.623);
    color: white;
    padding-inline: 40px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    gap: 20px;
}
.ToDo-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
}

.ToDo p  {
    text-decoration: line-through;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    font-size: 115%;
}

.ToDo:hover {
    cursor:pointer;
}

.ToDo-operations {
    gap: 15px;
    font-size: 17px;
}

.ToDo-edit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ToDo-edit form {
    gap: 5px;
    position: relative;
    top: 3px;
}

.ToDo-edit input {
    padding: 5px 10px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #ebd4ff;
    border: none;
}

.ToDo-edit button {
    border-radius: 5px;
    font-size: 90%;
    height: 31px;
    width: 60px;
    outline: none;
    border: none;
    background-color: #ebd4ff;
    color: #3b2151;
    font-weight: 600;
}

.cantEdit {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 110%;
    color: #3b2151;
    font-weight: 600;  
}

.zoom {
    animation: zoom 2s 1; 
}

@keyframes zoom {
    from {
        scale: 1;
    }
    to {
        scale: 1.1;
    }
}